.header {
    padding: 60px;
    text-align: center;
    background: lavender;
    color: grey;
    font-size: 30px;
    width: 75%;
    margin: auto;
  }

  div#trivia{
    border:grey 3px solid;
    padding:10px 40px 40px 40px;
    background-color:lavender;
    width:50%;
    border-radius: 15px;
    margin: auto;
  }

  